main {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.pesquisar {
    border: 2px solid #7b28acbe;
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.384);
    align-items: center;
    border-radius: 5px;
}

.lupa {
    margin-right: 10px;
}

.teste {
    height: 50px;
    width: 99%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

#cap {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0);
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #7b28acbe;
    color: rgb(136, 136, 136) !important;
    padding: 5px;
}

select {
    outline: 0;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0);
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #7b28acbe;
    color: rgb(136, 136, 136) !important;
    padding: 5px;
}

.cores {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h6 {
    width: 60px;
    height: 30px;
    /* background-color: aqua; */
    border-radius: 5px;
    border: 1px solid #7b28acbe;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .capaLivro {
    visibility: hidden;
    display: flex;
    width: 300px;
    margin-left: 5px;
    height: 441px;
    border: 1px solid rgba(128, 128, 128, 0.479);
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
} */

input,
select,
textarea {
    outline: 0;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0);
}

.meio {
    margin-left: 150px;
    width: 400px !important;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#public {
    margin-right: 40%;
}

.adicionar-livro {
    display: flex;
    align-items: end;
    border: 2px solid #7b28acbe;
    margin-top: 30px;
    border-radius: 5px;
}

/* .adicionar-livro>img{
    border: none;
    margin:0;
    padding:0;
} */

.upload-cape {
    /* margin-left: 40px;
    margin-right: 6px; */
    /* filter: invert(1); */
}

.add {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40%;
}

#caps {
    width: 250px !important;
    height: 40px !important;
    border: 1px solid rgba(128, 128, 128, 0.425);
    color: -internal-light-dark(black, white);
    border-radius: 3px;

}


textarea {
    resize: none;
    width: 1000px !important;
    height: 830px !important;
    border: 2px solid #7b28acbe;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(136, 136, 136) !important;
    padding: 10px;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    all: unset;
    min-width: 21px;
    min-height: 45px;
    margin: 17px;
    padding: 0px;
    background-image:
        linear-gradient(to top, transparent 0px, transparent 16px, #7b28acbe 16px, #7b28acbe 26px, transparent 26px, transparent 35px, #7b28acbe 35px, #7b28acbe 36px, transparent 36px, transparent 40px),
        linear-gradient(to right, transparent 0px, transparent 10px, rgba(0, 0, 0, 0.979) 10px, #7b28acbe 11px, transparent 11px, transparent 21px);
    transform: rotate(90deg) scale(0.8, 0.9);
    cursor: pointer;
}

button {
    margin-top: 30px;
}

footer {
    bottom: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;

}

@media (max-width: 500px) {
    .vc {
        margin-top: 40px;
        width: 95%;
        height: 100px;
        display: flex;
        justify-content: center;
    }

    .texto {
        display: flex;
        justify-content: center;
    }

    .footer {
        width: 100%;
        height: 30px;
    }

    h1 {
        color: aliceblue;
        font-family: Helvetica, Arial, sans-serif;
        text-align: center;
    }

    h5 {
        margin-top: 7px;
    }

    button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .oioi {
        width: 250px;
        height: 40px;
        border-radius: 2px;
    }
}



* {
    margin: 0;
    box-sizing: border-box;
}

h2 {
    margin: 30px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
}

/* .pesquisar {
    width: 50%;
    display: grid;
    grid-template-columns: 10fr 1fr;
    justify-content: flex-end;
}

.teste {
    height: 50px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #78009c;
    background-color: rgba(0, 0, 0, 0.548);
    color: rgb(0, 0, 0) !important;
} */

.row__poster {
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
}

.row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row__poster:hover {
    transform: scale(1.08);
}

.row__posters::-webkit-scrollbar {
    display: none;
}

.row__posterLarge {
    max-height: 250px;
}

.row__posterLarge:hover {
    transform: scale(1.09);
}

.row {
    color: white;
    margin-left: 20px;
}


/* banner */
.banner {
    background-image: url('../assets/capa2.jpg');
    background-size: cover;
    background-position: center center;
    color: white;
    object-fit: contain;
    height: 448px;
}

.banner__contents {
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}

.banner__title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner__description {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 180px;
}

.banner__button {
    cursor: pointer;
    color: #7b28acbe;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);
}

.banner__button:hover {
    color: #000;
    background-color: #7b28acbe;
    transition: all 0.2s;
}

.banner--fadeBottom {
    margin-top: 145px;
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
}

/* nav */

.nav__logo {
    width: 90px;
    object-fit: contain;
}

.nav__avatar {
    width: 30px;
    object-fit: contain;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    /* background-color: #111; */
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav__black {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.alinhar {
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.head {
    color: #fff;
}

.day_nigth {
    margin-top: 20px;
    filter: invert(1);
}


.menu {
    background-color: pink;
    display: none;
}


/* teste */

.sec-center {
    position: relative;
    max-width: 100%;
    text-align: center;
    z-index: 200;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
    opacity: 0;
    pointer-events: none;
}

.dark-light:checked+label,
.dark-light:not(:checked)+label {
    position: fixed;
    top: 40px;
    right: 40px;
    z-index: 20000;
    display: block;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    cursor: pointer;
    transition: all 200ms linear;
    box-shadow: 0 0 25px rgba(255, 235, 167, .45);
}

.dark-light:checked+label {
    transform: rotate(360deg);
}

.dark-light:checked+label:after,
.dark-light:not(:checked)+label:after {
    position: absolute;
    content: '';
    top: 1px;
    left: 1px;
    overflow: hidden;
    z-index: 2;
    display: block;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-color: #7b28acbe;
    background-image: url('https://assets.codepen.io/1462889/moon.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 200ms linear;
    opacity: 0;
}

.dark-light:checked+label:after {
    opacity: 1;
}

.dark-light:checked+label:before,
.dark-light:not(:checked)+label:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
    display: block;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    background-color: #48dbfb;
    background-image: url('https://assets.codepen.io/1462889/sun.svg');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 200ms linear;
}

.dark-light:checked+label:before {
    background-color: #000;
}

.light-back {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #7b28acbe;
    overflow: hidden;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
    background-position: center;
    background-repeat: repeat;
    background-size: 4%;
    height: 100%;
    width: 100%;
    transition: all 200ms linear;
    opacity: 0;
}

.dark-light:checked~.light-back {
    opacity: 1;
}

.dropdown:checked+label,
.dropdown:not(:checked)+label {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 2;
    height: 50px;
    transition: all 200ms linear;
    border-radius: 4px;
    width: 220px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    background-color: #7b28acbe;
    cursor: pointer;
    color: #ffffff;
    box-shadow: 0 12px 35px 0 rgba(255, 235, 167, .15);
}

.dark-light:checked~.sec-center .for-dropdown {
    background-color: #7b28acbe;
    color: #7b28acbe;
    box-shadow: 0 12px 35px 0 rgba(16, 39, 112, .25);
}

.dropdown:checked+label:before,
.dropdown:not(:checked)+label:before {
    position: fixed;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    cursor: auto;
    pointer-events: none;
}

.dropdown:checked+label:before {
    pointer-events: auto;
}

.dropdown:not(:checked)+label .uil {
    font-size: 24px;
    margin-left: 10px;
    transition: transform 200ms linear;
}

.dropdown:checked+label .uil {
    transform: rotate(180deg);
    font-size: 24px;
    margin-left: 10px;
    transition: transform 200ms linear;
}

.section-dropdown {
    position: absolute;
    padding: 5px;
    background-color: #111;
    top: 70px;
    left: 0;
    width: 100%;
    border-radius: 4px;
    display: block;
    box-shadow: 0 14px 35px 0 rgba(9, 9, 12, 0.4);
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
    transition: all 200ms linear;
}

.dark-light:checked~.sec-center .section-dropdown {
    background-color: #7b28acbe;
    box-shadow: 0 14px 35px 0 rgba(9, 9, 12, 0.15);
}

.dropdown:checked~.section-dropdown {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.section-dropdown:before {
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 20px;
    content: '';
    display: block;
    z-index: 1;
}

.section-dropdown:after {
    position: absolute;
    top: -7px;
    left: 30px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #111;
    content: '';
    display: block;
    z-index: 2;
    transition: all 200ms linear;
}

.dark-light:checked~.sec-center .section-dropdown:after {
    border-bottom: 8px solid #7b28acbe;
}

a {
    position: relative;
    color: #7b28acbe;
    transition: all 200ms linear;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    border-radius: 2px;
    padding: 5px 0;
    padding-left: 20px;
    padding-right: 15px;
    margin: 2px 0;
    text-align: left;
    text-decoration: none;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    -ms-flex-pack: distribute;
}

.dark-light:checked~.sec-center .section-dropdown a {
    color: #ffffff;
}

a:hover {
    color: #ffffff;
    background-color: #7b28acbe;
}

.dark-light:checked~.sec-center .section-dropdown a:hover {
    color: #fff;
    background-color: #7b28acbe;
}

a .uil {
    font-size: 22px;
}

.dropdown-sub:checked+label,
.dropdown-sub:not(:checked)+label {
    position: relative;
    color: #e8bfffbe;
    transition: all 200ms linear;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    border-radius: 2px;
    padding: 5px 0;
    padding-left: 20px;
    padding-right: 15px;
    text-align: left;
    text-decoration: none;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    -ms-flex-pack: distribute;
    cursor: pointer;
}

.dropdown-sub:checked+label .uil,
.dropdown-sub:not(:checked)+label .uil {
    font-size: 22px;
}

.dropdown-sub:not(:checked)+label .uil {
    transition: transform 200ms linear;
}

.dropdown-sub:checked+label .uil {
    transform: rotate(135deg);
    transition: transform 200ms linear;
}

.dropdown-sub:checked+label:hover,
.dropdown-sub:not(:checked)+label:hover {
    color: #ffffff;
    background-color: #7b28acbe;
}

.dark-light:checked~.sec-center .section-dropdown .for-dropdown-sub {
    color: #7b28acbe;
}

.dark-light:checked~.sec-center .section-dropdown .for-dropdown-sub:hover {
    color: #7b28acbe;
    background-color: #7b28acbe
}

.section-dropdown-sub {
    position: relative;
    display: block;
    width: 100%;
    pointer-events: none;
    opacity: 0;
    max-height: 0;
    padding-left: 10px;
    padding-right: 3px;
    overflow: hidden;
    transition: all 200ms linear;
}

.dropdown-sub:checked~.section-dropdown-sub {
    pointer-events: auto;
    opacity: 1;
    max-height: 999px;
}

.section-dropdown-sub a {
    font-size: 14px;
}

.section-dropdown-sub a .uil {
    font-size: 20px;
}

.logo {
    position: fixed;
    top: 50px;
    left: 40px;
    display: block;
    z-index: 11000000;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    transition: all 250ms linear;
}

.logo:hover {
    background-color: transparent;
}

.logo img {
    height: 26px;
    width: auto;
    display: block;
    transition: all 200ms linear;
}

.dark-light:checked~.logo img {
    filter: brightness(10%);
}

@media screen and (max-width: 991px) {
    .logo {
        top: 30px;
        left: 20px;
    }

    .dark-light:checked+label,
    .dark-light:not(:checked)+label {
        top: 20px;
        right: 20px;
    }
}

.teste {
    background-color: linear-gradient(45deg, #5b1186be, #000000);
}